*{
    user-select: none;
}
body {
    text-align: center;
    background-color: rgb(6, 71, 115);
    background: linear-gradient(to right ,rgba(54, 10, 185, 0.662) , rgb(10, 150, 178));
    /* background: linear-gradient(to right ,rgb(43, 5, 154) , rgb(0, 213, 255)); */
}
button {
    background-color: #2cc9c1; 
    border: none;
    width: 150px;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 2px 2px 6px 0 rgba(78, 78, 78, 0.549);
}
#result {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(219, 217, 217); 
    padding: 5px;
    border-radius: 10px;    box-shadow: 2px 2px 6px 0 rgba(78, 78, 78, 0.279)
}
.b {
    margin: 30px;
}
button:active {
    opacity: 0.9;
    box-shadow: inset 0 0 0 1px rgb(123, 123, 123);
}
span {
    color: rgb(17, 76, 158);
}
.container{
    background-color: rgba(230, 245, 197, 0.792);
    width: 60rem;
    height: 60vh;
    margin: auto;
    padding: 10px;

    border-radius: 30px;
    margin-top: 5vh;
}
.whatchoosed{
    width: 60%;
    margin: 0 auto;
    height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(96, 96, 93);
    margin-top: 20px;

   
}
.ycc{
    padding: 5px;
}